<app-bread-crumb [pageTitle]="pageTitle"></app-bread-crumb>

<app-page-header [pageTitle]="pageTitle" buttonLink="/entries" buttonClass="btn-light" buttonText="Voltar">
</app-page-header>

<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>

    <div class="card-body">
      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select name="type" id="type" formControlName="type" class="form-control">
            <option *ngFor="let type of types" [ngValue]="type.value">{{ type.text }}</option>
          </select>
          <app-form-field-error [form-control-name]="resourceForm.get('type')"></app-form-field-error>
        </div>

        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <app-form-field-error [form-control-name]="resourceForm.get('name')"></app-form-field-error>
        </div>

        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="imaskconfig" type="text" class="form-control text-right" id="amount"
              formControlName="amount">
          </div>
          <app-form-field-error [form-control-name]="resourceForm.get('amount')"></app-form-field-error>
        </div>

        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar id="date" inputStyleClass="form-control" dateFormat="dd/mm/yy" formControlName="date"
            dataType="string" [locale]="ptBr" showButtonBar="true">
          </p-calendar>
          <app-form-field-error [form-control-name]="resourceForm.get('date')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="paid">Pago</label>
          <div class="btn-group">
            <label [class.active]="resourceForm.get('paid').value == true"
              (click)="resourceForm.get('paid').setValue(true)" class="btn btn-outline-info">Pago</label>
            <label [class.active]="resourceForm.get('paid').value == false"
              (click)="resourceForm.get('paid').setValue(false)" class="btn btn-outline-info">Pendente</label>
          </div>
          <app-form-field-error [form-control-name]="resourceForm.get('paid')"></app-form-field-error>
        </div>

        <div class="form-group col-md-5">
          <label for="categoryId">Categoria</label>
          <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control">
            <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
          </select>
          <app-form-field-error [form-control-name]="resourceForm.get('categoryId')"></app-form-field-error>
        </div>

        <div class="form-group col-md-5">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
    class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>
